.tiles{
    display:flex;
    justify-content: center;
   
}

.tiles > div {
     padding: 3vw;
}

.tile-form{
    display: flex;
    flex-direction: column;

}

.master{
    display: flex;
    flex-direction: column;
}