.tiles{
    display:flex;
    justify-content: center;
    flex-direction: row;
   
}

.tiles > div {
     padding: 3vw;
}

.tile-form{
    display: flex;
    flex-direction: column;
    width: 5vw;
    margin: auto;

}
.dice{
    margin: auto;
    display:flex;
}

#master{
    display: flex;
    
}